{{ define "user/fragments/issueEvent" }}
  {{ $repoOwner := resolve .Repo.Did }}
  {{ $repoUrl := printf "%s/%s" $repoOwner .Repo.Name }}
  <div class="flex items-center gap-2 text-gray-600 dark:text-gray-300 overflow-hidden">
    {{ if .Open }}
      <span class="text-green-600 dark:text-green-500 shrink-0">
        {{ i "circle-dot" "w-4 h-4" }}
      </span>
    {{ else }}
      <span class="text-gray-500 dark:text-gray-400 shrink-0">
        {{ i "ban" "w-4 h-4" }}
      </span>
    {{ end }}
    <span class="shrink-0 text-gray-500 dark:text-gray-400">#{{ .IssueId }}</span>
    <span class="truncate">
      <a href="/{{ $repoUrl }}/issues/{{ .IssueId }}" class="no-underline hover:underline">{{- .Title -}}</a>
      on
      <a href="/{{ $repoUrl }}" class="no-underline hover:underline">{{ $repoUrl }}</a>
    </span>
  </div>
{{ end }}
