{{ define "repo/settings/fragments/labelListing" }}
  {{ $root := index . 0 }}
  {{ $label := index . 1 }}
  <div class="flex flex-col gap-1 text-sm min-w-0 max-w-[80%]">
    {{ template "labels/fragments/labelDef" $label }}
    <div class="flex flex-wrap text items-center gap-1 text-gray-500 dark:text-gray-400">
      {{ if $label.ValueType.IsNull }} 
        Basic
      {{ else }}
        {{ $label.ValueType.Type }} type
      {{ end }}

      {{ if $label.ValueType.IsEnum }}
        <span class="before:content-['·'] before:select-none"></span>
        {{ join $label.ValueType.Enum ", " }}
      {{ end }}

      {{ if $label.ValueType.IsDidFormat }}
        <span class="before:content-['·'] before:select-none"></span>
        DID format
      {{ end }}

      {{ if $label.Multiple }}
        <span class="before:content-['·'] before:select-none"></span>
        Multiple
      {{ end }}

      <span class="before:content-['·'] before:select-none"></span>
      {{ join $label.Scope ", " }}
    </div>
  </div>
{{ end }}
