.git
.jj
.DS_Store
._.DS_Store
.direnv/
.env*
*.qcow2
genjwks.out
/nix/vm-data
blog/build
build/
.wrangler/
localinfra/certs/root.key

appview/pages/static/tw.css
appview/pages/static/x

sites/target
sites/.wrangler
target

result
result-*
build
.bin
out/
node_modules/
*.db
*.db-*
*.rdb
*.bleve
**/*.bleve

tmp
patches

docker-compose.yml
docker-compose.*.yml
**/Dockerfile
**/*.Dockerfile

knot2/pack-spike
**/src/_lex
