.direnv/
tmp
*.db
*.db-*
.bin/
appview/pages/static/*
result
!.gitkeep
!appview/pages/static/topbar-search.js
out/
node_modules/
patches
*.qcow2
.DS_Store
._.DS_Store
.env
*.rdb
.envrc
**/*.bleve
sites/.wrangler/
target/
**/src/_lex/
# Created if following hacking.md
genjwks.out
/nix/vm-data
blog/build/
build/
.wrangler/
localinfra/certs/*
id_rsa
id_ecdsa
id_dsa
id_ed25519
*.pem
*.key
