.direnv/
tmp
*.db
*.db-*
.bin/
appview/pages/static/*
result
!.gitkeep
out/
./camo/node_modules/*
./avatar/node_modules/*
patches
*.qcow2
.DS_Store
.env
*.rdb
.envrc
**/*.bleve
sites/target/
sites/.wrangler/
# Created if following hacking.md
genjwks.out
/nix/vm-data
blog/build/
