{{ define "repo/issues/fragments/replyIssueCommentPlaceholder" }}
  <div class="py-2 px-6 border-t flex gap-2 items-center border-gray-300 dark:border-gray-700">
  {{ if .Comment.IsLegacy }}
    {{ if .LoggedInUser }}
      <span class="text-orange-500">Can't reply to legacy comment.</span>
    {{ end }}
  {{ else }}
    {{ if .LoggedInUser }}
      {{ template "user/fragments/pic" (list .LoggedInUser.Did "size-8 mr-1") }}
    {{ end }}
    <input
      class="w-full p-0 border-none focus:outline-none bg-transparent"
      placeholder="Leave a reply..."
      hx-get="/{{ .RepoInfo.FullName }}/issues/{{ .Issue.IssueId }}/comment/{{ .Comment.Id }}/reply"
      hx-trigger="focus"
      hx-target="closest div"
      hx-swap="outerHTML"
      >
    </input>
  {{ end }}
  </div>
{{ end }}
