{{ define "mainLayout" }}
  <div class="w-full h-screen flex items-center justify-center bg-white dark:bg-transparent">
    <main id="main" class="w-full max-w-md px-7 mt-4">
      {{ template "logo" }}
      {{ block "content" . }}{{ end }}
    </main>
  </div>
{{ end }}

{{ define "topbarLayout" }}
  <div class="hidden"></div>
{{ end }}

{{ define "footerLayout" }}
  <div class="hidden"></div>
{{ end }}

{{ define "logo" }}
  <h1 class="flex place-content-center text-3xl font-semibold italic dark:text-white" >
    {{ template "fragments/logotype" (dict "Classes" "w-48 h-24") }}
  </h1>
  <h2 class="text-center text-xl italic dark:text-white">
      tightly-knit social coding.
  </h2>
{{ end }}
