{{ define "title" }}{{ .RepoInfo.FullName }} &middot; Tangled{{ end }}
{{ define "extrameta" }}
    {{ template "repo/fragments/meta" . }}
    {{ template "repo/fragments/og" (dict "RepoInfo" .RepoInfo) }}
{{ end }}
{{ define "repoContent" }}
  <main>
    <div class="relative w-full h-96 flex items-center justify-center">
      <div class="absolute inset-0 flex items-center justify-center py-12 text-red-500 dark:text-red-400 backdrop-blur">
        <div class="text-center">
          {{ i "triangle-alert" "size-5 inline-flex items-center align-middle" }}
          The knot hosting this repository is unreachable.
        </div>
      </div>
    </div>
  </main>
{{ end }}

