{{ define "title" }}
    patch of {{ .Pull.Title }} &middot; round #{{ .Round }} &middot; pull #{{ .Pull.PullId }} &middot; {{ .RepoInfo.FullName }}
{{ end }}


{{ define "extrameta" }}
    {{ $title := printf "patch of %s &middot; pull #%d &middot; %s" .Pull.Title .Pull.PullId .RepoInfo.FullName }}
    {{ $url := printf "https://tangled.org/%s/pulls/%d/round/%d" .RepoInfo.FullName .Pull.PullId .Round }}

    {{ template "repo/fragments/og" (dict "RepoInfo" .RepoInfo "Title" $title "Url" $url) }}
{{ end }}


{{ define "content" }}
<section>
    <section
        class="bg-white dark:bg-gray-800 p-6 rounded relative w-full mx-auto shadow-sm dark:text-white"
    >
        <div class="flex gap-3 items-center mb-3">
            <a href="/{{ .RepoInfo.FullName }}/pulls/{{ .Pull.PullId }}/" class="flex items-center gap-2 font-medium">
              {{ i "arrow-left" "w-5 h-5" }}
              back
            </a>
            <span class="select-none before:content-['\00B7']"></span>
            round<span class="flex items-center">{{ i "hash" "w-4 h-4" }}{{ .Round }}</span>
            <span class="select-none before:content-['\00B7']"></span>
            <a href="/{{ .RepoInfo.FullName }}/pulls/{{ .Pull.PullId }}/round/{{ .Round }}.patch">
                view raw
            </a>
        </div>
        <div class="border-t border-gray-200 dark:border-gray-700 my-2"></div>
    {{ template "repo/pulls/fragments/pullHeader" . }}
    </section>
</section>
{{ end }}

{{ define "mainLayout" }}
  <div class="px-1 col-span-full flex-grow flex flex-col gap-4">
    {{ block "contentLayout" . }}
      {{ block "content" . }}{{ end }}
    {{ end }}

    {{ block "contentAfterLayout" . }}
    <div class="flex-grow grid grid-cols-1 md:grid-cols-12 gap-4">
      <div class="flex flex-col gap-4 col-span-1 md:col-span-2">
        {{ block "contentAfterLeft" . }} {{ end }}
      </div>
      <main class="col-span-1 md:col-span-10">
        {{ block "contentAfter" . }}{{ end }}
      </main>
    </div>
    {{ end }}
  </div>
{{ end }}

{{ define "contentAfter" }}
  {{ template "repo/fragments/diff" (list .Diff .DiffOpts) }}
{{end}}

{{ define "contentAfterLeft" }}
  <div class="flex flex-col gap-4 col-span-1 md:col-span-2">
    {{ template "repo/fragments/diffOpts" .DiffOpts }}
  </div>
  <div class="sticky top-0 flex-grow max-h-screen overflow-y-auto">
    {{ template "repo/fragments/diffChangedFiles" .Diff }}
  </div>
{{end}}
