{{ define "fragments/tinyAvatarList" }}
  {{ $all := .all }}
  {{ $classes := .classes }}
  {{ $ps := take $all 5 }}
  <div class="inline-flex items-center -space-x-3">
    {{ $c := "z-50 z-40 z-30 z-20 z-10" }}
    {{ range $i, $p := $ps }}
      {{ $zIdx := printf "z-%d0" (sub 5 $i) }}
      {{ $classes = printf "%s %s" $zIdx $classes }}
      {{ template "user/fragments/picLink" (list (printf "%s" .) $classes ) }}
    {{ end }}

    {{ if gt (len $all) 5 }}
      <span class="pl-4 text-gray-500 dark:text-gray-400 text-sm">
        +{{ sub (len $all) 5 }}
      </span>
    {{ end }}
  </div>
{{ end }}

