{{ define "timeline/fragments/othersBadge" }}
  {{ $group := . }}
  <span class="relative group inline-flex items-center cursor-pointer" tabindex="0"
   >and&nbsp;<span class="underline decoration-dotted decoration-gray-400">{{ $group.OthersCount }} other{{ if ne $group.OthersCount 1 }}s{{ end }}</span
    ><div class="absolute left-0 top-full pt-1 z-10 hidden group-hover:block group-focus-within:block">
      <div class="min-w-48 max-w-xs bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded shadow-lg p-2 cursor-default">
        <ul class="flex flex-col gap-1">
          {{ range $other := $group.Others }}
            <li class="flex items-center gap-2 text-sm cursor-pointer">
              {{ if $other.RepoStar }}
                {{ template "user/fragments/picHandleLink" $other.RepoStar.Did }}
              {{ else if $other.Follow }}
                {{ template "user/fragments/picHandleLink" $other.Follow.UserDid }}
              {{ end }}
            </li>
          {{ end }}
        </ul>
      </div>
    </div></span>
{{ end }}
