{{ define "timeline/fragments/trendingSidebar" }}
<div class="pt-4">
    <h3 class="text-xl font-bold dark:text-white flex items-center gap-2 pb-4">
        Trending
        {{ i "trending-up" "size-4 flex-shrink-0" }}
    </h3>
    {{ if .Repos }}
    <div class="flex gap-4 overflow-x-auto scrollbar-hide items-stretch lg:flex-col lg:overflow-x-visible">
        {{ range $index, $repo := .Repos }}
            <div class="flex-none w-96 border border-gray-200 dark:border-gray-700 rounded-sm lg:flex-none lg:w-auto">
                {{ template "user/fragments/repoCard" (list $ $repo true) }}
            </div>
        {{ end }}
    </div>
    {{ else }}
    <div class="py-6 px-4 border border-gray-200 dark:border-gray-700 rounded-sm text-sm text-gray-500 dark:text-gray-400 text-center">
        No trending repositories this week
    </div>
    {{ end }}
</div>
{{ end }}
