{{ define "title" }}Followers &middot; {{ resolve .Card.UserDid }} &middot; Tangled{{ end }}

{{ define "profileContent" }}
  <div id="all-followers" class="md:col-span-8 order-2 md:order-2">
    {{ block "followers" . }}{{ end }}
  </div>
{{ end }}

{{ define "followers" }}
  <p class="text-base font-medium p-2 dark:text-white">All followers</p>
  <div id="followers" class="grid grid-cols-1 gap-4 mb-6">
    {{ range .Followers }}
       {{ template "user/fragments/followCard"
          (dict
              "LoggedInUser" $.LoggedInUser
              "UserDid" .UserDid
              "Profile" .Profile
              "FollowStatus" .FollowStatus
              "FollowersCount" .FollowersCount
              "FollowingCount" .FollowingCount) }}
    {{ else }}
        <div class="text-base text-gray-500 flex items-center justify-center italic p-12 border border-gray-200 dark:border-gray-700 rounded">
          <span>This user does not have any followers yet.</span>
        </div>
    {{ end }}
  </div>
{{ end }}
