{{ define "title" }}Starred &middot; {{ resolve .Card.UserDid }} &middot; Tangled{{ end }}

{{ define "profileContent" }}
  <div id="all-repos" class="md:col-span-8 order-2 md:order-2">
      {{ block "starredRepos" . }}{{ end }}
      {{ if gt .Total .Page.Limit }}
        {{ $handle := resolve .Card.UserDid }}
        {{ template "fragments/pagination" (dict
            "Page" .Page
            "TotalCount" .Total
            "BasePath" (printf "/%s" $handle)
            "QueryParams" (queryParams "tab" "starred")
        ) }}
      {{ end }}
  </div>
{{ end }}

{{ define "starredRepos" }}
  <div id="repos" class="grid grid-cols-1 gap-4 mb-6">
    {{ range .Repos }}
      <div class="border border-gray-200 dark:border-gray-700 rounded-sm">
         {{ template "user/fragments/repoCard" (list $ . true) }}
      </div>
    {{ else }}
        <div class="text-base text-gray-500 flex items-center justify-center italic p-12 border border-gray-200 dark:border-gray-700 rounded">
          <span>This user does not have any starred repositories yet.</span>
        </div>
    {{ end }}
  </div>
{{ end }}
